{% extends 'my_site/layout.html' %}

{% block title %}Hacker News Clone &dash; Account{% endblock %}

{% block content %}
    {% if messages %}
        <div class="mb-4">
            {% include 'my_site/messages.html' with messages=messages %}
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        {% include 'accounts/partial/form_errors.html' with errors=form.non_field_errors %}
    {% endif %}

    <div class="card">
        <div class="card-header">Profile Page</div>

        <div class="card-body">
            <form action="{% url 'accounts:index' %}" method="POST" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="input-username" class="form-label">Username</label>
                    <input id="input-username" class="form-control" type="text" value="{{ user.username }}" readonly/>
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>

                    {{ form.email }}

                    {% if form.email.errors %}
                        {% include 'accounts/partial/field_errors.html' with errors=form.email.errors %}
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.about.id_for_label }}" class="form-label">{{ form.about.label }}</label>

                    {{ form.about }}

                    {% if form.about.errors %}
                        {% include 'accounts/partial/field_errors.html' with errors=form.about.errors %}
                    {% endif %}
                </div>

                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
