{% load humanize %}
{% load news_extras %}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        <a class="card-link d-inline-block" href="{{ news_item.url }}" target="_blank">{{ news_item.title }}</a>

        <div class="d-flex flex-column flex-sm-row gap-2">
            <a class="btn btn-primary btn-sm" href="#" title="0 points">
                <span class="badge bg-light text-dark">0</span> points
            </a>

            <a class="btn btn-primary btn-sm"
               href="{% url 'news:comments' news_item.id %}"
               title="{{ news_item.get_number_of_comments }} comments"
            >
                <span class="badge bg-light text-dark">
                    {{ news_item.get_number_of_comments|shorten_number:100 }}
                </span>
                comments
            </a>
        </div>
    </div>

    <div class="card-body py-2">
        <span>
            Submitted by:
            <a href="{% url 'accounts:details' news_item.author.username %}">{{ news_item.author.username }}</a>
        </span>

        <time datetime="{{ news_item.created_at|html_datetime }}">
            {{ news_item.created_at|naturaltime }}
        </time>
    </div>
</div>
