{% load humanize %}
{% load news_extras %}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        <a class="card-link d-inline-block" href="{{ post.url }}" target="_blank">{{ post.title }}</a>

        <div class="d-flex flex-column flex-sm-row gap-2">
            <a class="btn btn-primary btn-sm" href="#" title="0 points">
                <span class="badge bg-light text-dark">0</span> points
            </a>

            <a class="btn btn-primary btn-sm"
               href="{% url 'posts:comments' post.id %}"
               title="{{ post.get_number_of_comments }} comments"
            >
                <span class="badge bg-light text-dark">
                    {{ post.get_number_of_comments|shorten_number:100 }}
                </span>
                comments
            </a>
        </div>
    </div>

    <div class="card-body py-2">
        <span>
            Submitted by:
            <a href="{% url 'accounts:details' post.author.username %}">{{ post.author.username }}</a>
        </span>

        <time datetime="{{ post.created_at|html_datetime }}">
            {{ post.created_at|naturaltime }}
        </time>
    </div>
</div>
