{% extends 'my_site/layout.html' %}

{% block title %}Hacker News Clone &dash; Login{% endblock %}

{% block content %}
    {% if messages %}
        <div class="mb-4">
            {% include 'my_site/messages.html' with messages=messages %}
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        {% include 'my_site/form/form_errors.html' with errors=form.non_field_errors %}
    {% endif %}

    <div class="card">
        <div class="card-header">Login</div>

        <div class="card-body">
            <form action="{% url 'accounts:login' %}" method="POST" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>

                    {{ form.username }}

                    {% if form.username.errors %}
                        {% include 'my_site/form/field_errors.html' with errors=form.username.errors %}
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>

                    {{ form.password }}

                    {% if form.password.errors %}
                        {% include 'my_site/form/field_errors.html' with errors=form.password.errors %}
                    {% endif %}
                </div>

                <button class="btn btn-primary">Login</button>
            </form>
        </div>

        <div class="card-footer">
            Don&apos;t have an account yet? <a href="{% url 'accounts:register' %}">Sign up!</a>
        </div>
    </div>
{% endblock %}
