{% load humanize %}
{% load news_extras %}

{% if comments|length > 0 %}
    <div class="comment-wrapper">
        {% for comment in comments %}
            <div class="card mb-4">
                <div class="card-header">
                    <a class="card-link"
                       href="{% url 'accounts:details' comment.author.username %}"
                    >{{ comment.author.username }}</a>

                    <a class="card-link" href="#">
                        <time datetime="{{ comment.created_at|html_datetime }}">
                            {{ comment.created_at|naturaltime }}
                        </time>
                    </a>

                    <a class="card-link" href="#">Reply</a>
                </div>

                <div class="card-body">{{ comment.content }}</div>
            </div>

            {% if comment.has_replies %}
                {% include 'news/partial/comments.html' with comments=comment.get_replies %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-primary">There are no comments yet.</div>
{% endif %}
