{% extends 'my_site/layout.html' %}

{% load static %}

{% block title %}Hacker News Clone &dash; News{% endblock %}

{% block content %}
    {% if messages %}
        <div class="mb-4">
            {% include 'my_site/messages.html' with messages=messages %}
        </div>
    {% endif %}

    <ol>
        {% for news_item in news %}
            <li>
                {% include 'news/partial/news_item.html' with news_item=news_item %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
