{% extends 'my_site/layout.html' %}

{% block title %}Hacker News Clone &dash; {{ post.title }}{% endblock %}

{% block content %}
    {% include 'posts/partial/post.html' with post=post %}

    {% if messages %}
        <div class="mb-4">
            {% include 'my_site/messages.html' with messages=messages %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="card mb-4">
            <div class="card-header">Leave a comment</div>

            <div class="card-body">
                {% include 'posts/partial/comment_form.html' with action=request.path form=form %}
            </div>
        </div>
    {% endif %}

    {% include 'posts/partial/comments.html' with comments=comments %}
{% endblock %}
