{% extends 'my_site/layout.html' %}

{% block title %}Hacker News Clone &dash; Submit{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        {% include 'my_site/form/form_errors.html' with errors=form.non_field_errors %}
    {% endif %}

    <div class="card">
        <div class="card-header">Submit</div>

        <div class="card-body">
            <form action="{% url 'posts:submit' %}" method="POST" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}">Title</label>

                    {{ form.title }}

                    {% if form.title.errors %}
                        {% include 'my_site/form/field_errors.html' with errors=form.title.errors %}
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.url.id_for_label }}">URL</label>

                    {{ form.url }}

                    {% if form.url.errors %}
                        {% include 'my_site/form/field_errors.html' with errors=form.url.errors %}
                    {% endif %}
                </div>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
